button {
    font-weight: bold;
    padding: 8px;
    font-family: monospace;
}

body {
    background-color: rgb(236, 224, 224);
    margin: 40px 40px 0px 40px;
}

#canvasBreakdown {
    border: 1px dotted black;
}

#canvasDiv {
    
}

#gridCanvas {
    border: 2px solid black;
}

#radios {
    margin: 20px 0 20px 0;
}