button {
    font-weight: bold;
    padding: 8px;
    font-family: monospace;
}

body {
    background-color: gray;
    margin: 40px 40px 0px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#canvasBreakdown {
    border: 1px dotted black;
}

#canvasDiv,
#buttonDiv {
    display: flex;
    justify-content: center;
}

#gridCanvas {
    border: 2px solid black;
}

#radios {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}